
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575 ;
    --accent-color: #2196F3;
    --backgr-color:#F5F5F5;
    --backgr-second:#F5F4FA;
    --hero-text:#FFFFFF;
    --hero-becgr-color:#2F303A;
    --foot-links-color:rgba(255, 255, 255, 0.6)
}


/* main */


.list {
    list-style-type: none;
    
}

.link {
    list-style-type: none;
   
    text-decoration: none
  
}

.body{
   
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
link,
a,
 {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0.15px;
    /* background-color: aquamarine; */
    /* background-color: aqua;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 215px;
    padding-right: 215px;
    width: 1600px;
    height: 80px;
    margin: 0 auto; */

}

.section-one{
    padding-top: 94px;
    background-color: 
}

.section-two{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: 
}

.section-thre{
    padding-bottom: 94px;
    background-color: 
}


/* head */


.logo{
        text-decoration: none;
        color:var(--accent-color);
        font-family: 'Raleway',sans-serif;
     
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        }

.logo-part{
    text-decoration: none;
    color:var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    
    font-weight: 700;
    font-Size:26px;
    Line-height: 1.19;
    letter-spacing: 0.03em;
      }


/* site nav */


.adress{
   
    letter-spacing: 0.02em;
}

   .site-nav-link { 
        text-decoration: none;
       
        color:var(--primary-text-color);
    
        font-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
       }

.site-nav-link :hover,
.site-nav-link :focus
{
    color:var(--accent-color) 
    }

.auth-nav-link  {
   
    color:var(--secondary-text-color) ;
     text-decoration: none;
    
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.auth-nav-link :hover,
.auth-nav-link :focus
{
    color: var(--accent-color)
   }


/* hero list */


.hero-title{
color: var(--hero-text);


    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    display: inline-block;
    margin-top: 200px;
    margin-bottom: 30px;
} 

.hero-button{
    
    color: var(--hero-text);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    border-radius: 4px;
    margin-bottom: 200px;
    padding: 10px,32px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
    color: var(--primary-text-color)
    }

.hero-button:active{
    color:var(--secondary-text-color);
}

.hero-post{
    background-color: var(--hero-becgr-color)
    }


/* one */


.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title-one{
    
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        margin-bottom: 10px;
        
        }

.text{
    color: var(--secondary-text-color) ;
   
        
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        }


/* two */


.title{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
    }

.title-two{

    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-top: 30px;
    margin-bottom: 10px;

    
    }

.text-two{
    color: var(--secondary-text-color);
        
        
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;

        margin-top: 0px;
        }


/* footer */


.footer{
    
    background-color:var(--hero-becgr-color)
}
    
.logo-foot{
    text-decoration: none;
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
   
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
    
   
    
}

.logo-foot-part{
            text-decoration: none;

            color:var(--hero-text);
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            letter-spacing: 0.03em;

            display: inline-block;
            margin-top: 60px;
            margin-bottom: 20px;
            
  }

.foot-links{
            
            color: var(--hero-text);
            font-style: normal;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;

            display: inline-block;
            padding-bottom: 9px;
  }
    

.foot-links:hover,
.foot-links:focus
{
    color:var(--accent-color) 
}

.foot-links-two{
    
    
    color: var(--foot-links-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    
}

.foot-links-two:hover,
.foot-links-two:focus
{
    color:var(--accent-color) 
}

.adress{
    font-style: normal;
}

.adress-link-map{
    text-decoration: none;
    color: var(--hero-text);

    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    display: inline-block;
    padding-bottom: 1px;
}

.adress-link {
    text-decoration: none;
    color: var(--foot-links-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    display: inline-block;
    padding-bottom: 1px;
    margin-bottom: 30px;
}


/* second list */


.second-list-button{
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    
    padding: 6px,25px;
    cursor: pointer;
}

.second-list-button:hover, 
.second-list-button:focus{
    color: var(--hero-text);
    background-color: var(--accent-color);
}

.second-title{
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 

    
}

.second-text{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}