h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
link,
a {
padding: 0;
margin: 0;
text-decoration: none;
}

.img {
display: block;
max-width: 100%;
height: auto;
}

.link {
list-style-type: none;
text-decoration: none  
}

.body{  
font-family: Roboto, sans-serif;
color: var(--primary-text-color);
}

.container {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;

@media (min-width: 480px) {
width: 480px;
margin: 0 auto;
padding: 0 15px;}

@media (min-width: 1200px){
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
}

.section{
@media (min-width: 480px) {
padding: 60px 0;   }

@media (min-width: 1200px){
padding: 94px 0;  } 
}

.section__no-padding-top{ 
@media (min-width: 480px) {
padding: 0 0;   }

@media (min-width: 1200px){
padding-top: 0;
padding-bottom: 94px;}
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
