:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575 ;
    --accent-color: #2196F3;
    --backgr-color:#F5F5F5;
    --backgr-second:#F5F4FA;
    --hero-text:#FFFFFF;
    --hero-becgr-color:#2F303A;
    --foot-links-color:rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --border-bottom: #ececec;
    --soshial-icons: #afb1b8;
    }
    
    
    