.benefits {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .benefits__item{
    margin-right: 30px;
    }
    
    &:last-child {
    margin-right: 0px;
    }
    
    .benefits__ikon-container{
    width: 270px;
    height: 120px;
    background-color: var(--backgr-second);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    
    .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    }
    
    .benefits__text{
    color: var(--secondary-text-color) ;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }
    