.clients{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    }
    
    .clients__item {
    margin-right: 30px;
    list-style: none;
    width: 170px; 
    height: 92px;  
    }
    
    .clients__item:last-child{
    margin-right: 0px;
    }
    
    .clients__link{
    fill: var(--soshial-icons);
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--soshial-icons);
    border-radius: 4px;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover,
    &:focus{
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    }