.foot-soshial{
    align-items: center;
    justify-content: center;
    width: 206px; 
    height: 80px;
    margin-left: 70px;
    }
    
    .foot-soshial__text{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text);
    }
    
    .foot-soshial__list{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    }
    
    .foot-soshial__item{
    width: 44px;
    height: 44px;
    list-style-type: none;
    }   
    
    .foot-soshial__link {
    display: block;
    width: 100%; 
    height: 100%;
    display: inline-flex;
    align-items: center;
    fill: var(--hero-text);
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover,
    &:focus{
    fill: var(--hero-text);
    background-color: var(--accent-color);
    }