.logo__marg-bott{
    text-decoration: none;
    color: var(--accent-color);
    outline:none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;    
    }
    
    .logo__part-white{
    text-decoration: none;
    outline:none;
    color:var(--hero-text);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    }