.foot-email{
    justify-content: end;
    margin-left: 93px;
    }
    
    .foot-email__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text);
    margin-bottom: 20px;
    }
    
    .foot-email__input{
    display: flex;
    }
    
    .foot-email__window{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--hero-becgr-color);
    padding-left: 16px;
    color: var(--hero-text);
    display: block;
    }
    
    .foot-email__button{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-text);
    background-color: var(--accent-color);
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: flex;
    gap: 10px;
    }