.hero{
padding: 118px 0;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url(../imeges/heromob1x.jpg);
background-repeat: no-repeat;
background-position: center;
max-width: 1600px;
background-size: cover;
background-color: var(--hero-becgr-color);
text-align: center;
margin-left: auto;
margin-right: auto;

@media screen and (min-device-pixel-ratio: 1) and (max-width: 767px),
screen and (min-resolution: 96dpi) and (max-width: 767px),
screen and (min-resolution: 1dppx) and (max-width: 767px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/heromob1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/heromob2x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 288dpi) and (max-width: 767px),
screen and (min-resolution: 3dppx) and (max-width: 767px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/heromob3x.jpg);
}

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/heromob2x.jpg);
// }}

// @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/heromob3x.jpg);
// }}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 678px),
screen and (min-resolution: 96dpi) and (min-width: 678px),
screen and (min-resolution: 1dppx) and (min-width: 678px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herotabl1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 678px),
screen and (min-resolution: 192dpi) and (min-width: 678px),
screen and (min-resolution: 2dppx) and (min-width: 678px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herotabl2x.jpg);
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 678px),
screen and (min-resolution: 288dpi) and (min-width: 678px),
screen and (min-resolution: 3dppx) and (min-width: 678px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herotabl3x.jpg);
}

// @media (min-width: 768px){
// background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herotabl1x.jpg);}

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herotabl2x.jpg);
// }}
    
// @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herotabl3x.jpg);
// }}

@media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px),
screen and (min-resolution: 96dpi) and (min-width: 1200px),
screen and (min-resolution: 1dppx) and (min-width: 1200px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herodesk1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herodesk2x.jpg);
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
screen and (min-resolution: 288dpi) and (min-width: 1200px),
screen and (min-resolution: 3dppx) and (min-width: 1200px) {
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../imeges/herodesk3x.jpg);
}

// @media (min-width: 1200px){
// padding: 200px 0;
// background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herodesk1x.jpg);
// }

// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herodesk2x.jpg);
// }}
        
// @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx){
// .hero {background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
// url(../imeges/herodesk3x.jpg);
// }}




}
    
.hero__title{
color: var(--hero-text);
font-weight: 900;
font-size: 26px;
line-height: 1.61;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
max-width: 360px;
margin-left: auto;
margin-right: auto;

@media (min-width: 768px){
  
    

   margin-left: auto;
   margin-right: auto;
    
    }

@media (min-width: 1200px){
    
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
   
    
    }

} 

   


   