.hero{
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url(../imeges/hero.jpg);
background-repeat: no-repeat;
background-position: center;
width: 480px;
background-size: auto;
background-color: var(--hero-becgr-color);
text-align: center;

}
    
.hero__title{
color: var(--hero-text);
font-weight: 900;
font-size: 26px;
line-height: 1.61;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
padding-top: 118px;
} 

   


   