.hero__button{
    color: var(--hero-text);
    background-color: var(--accent-color);
    outline:none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    &:active{
    color:var(--secondary-text-color);
    }