.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
    
    .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--hero-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    width: 528px;height: 581px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }
    
    .modal__close-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: 1px solid #0000001A;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal__close-button:hover{
    fill: var(--accent-color);
    }
    
    .modal__contacts{
    display: block;
    margin-top: 12px;
    background: var(--hero-text);
    }
    
    .modal__box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }
    
    .modal__label{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
    }
        
    .modal__label:checked{
    opacity: 0;
    }
    
    .modal__box-icons{
    position: relative;
    width: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }  
            
    .modal__imput{
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-bottom: 12px;
    padding-top: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .modal__imput:hover, .modal__imput:focus{
    border-color: var(--accent-color);
    }
              
    .modal__imput:hover+.modal__icons, .modal__imput:focus+.modal__icons{
    fill: var(--accent-color);
    }  
                
    .modal__icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 18px;
    height: 18px;
    }
                    
    .modal__icons:focus{
    fill: var(--accent-color);
    }           
    
    .modal__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-top: 4px;
    display: block;
    transition-duration: 250ms;
    outline: none;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .modal__textarea:hover, .modal__textarea:focus{
        border-color: var(--accent-color);
        }
    
    .agree{
    margin-top: 20px;
    text-align: center;
    }
    
    .agree__check{
    color: var(--primary-text-color);
    cursor: pointer;
    appearance: none;
    }
    
    .agree__check:checked + .agree__rules::after   {
    opacity: 1;
    }
    
    .agree__rules{
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    padding-left: 28px;
    }
    
    .agree__rules::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 3px;
    }
    
    .agree__rules::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: none;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imeges/Vector\ \(2\).svg);
    background-color: var(--accent-color);
    opacity: 0;
    }
    
    .agree__rules::after:checked{
        opacity: 0;
    }
    
    .agree__rules::before:checked{
        opacity: 0;
    }
    
    .agree__span-rules{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    }
    
    .agree__button{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    color: var(--hero-text);
    background-color: var(--accent-color);
    outline:none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: transparent;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    }