.section__other-bacgound {
    background-color: var(--backgr-second);
    }
    
    .team {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .team__item{
    margin-right: 30px;
    }
        
    &:nth-child(4n) {
    margin-right: 0px;
    } 
    
    .team__pfoto{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: var(--hero-text);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .team__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    }
    
    .team__text{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0px;
    }
    
    